.hero {
    position: relative;

}

.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-button {
  display: inline-block;
  margin-top: 10px;  
  background-color: #2e7032;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.hero-button:hover {
  background-color: #1b5e20;
}
